@import "src/colors.scss";

.services {
  padding-top: 70px;
}
.service {
  display: flex;
  justify-content: flex-end;
  &__content {
    max-width: 1100px;
    width: 100%;
    min-height: 675px;
  }
  &__title {
    margin-bottom: 35px;
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    justify-content: space-between;
    margin-top: 45px;
    min-height: 305px;
  }
  &__text {
    text-align: center;
  }
}

.title {
  color: $gray-title;
  font-size: 50px;
  font-weight: 600;
}

#dark .service__text {
  color: white;
}

@media (max-width: 1000px) {
  .service {
    &__cards {
      grid-template-columns: repeat(2, 200px);
      justify-content: center;
      gap: 50px;
    }
  }
}

@media (max-width: 490px) {
  .service {
    &__cards {
      grid-template-columns: repeat(1, 200px);
      justify-content: center;
    }
  }
}
