@import "src/colors.scss";

.form__input {
  background-color: $green-light;
  border: none;
  border-radius: 25px;
  padding: 0 35px;
  height: 55px;
  color: $white;
  &::placeholder {
    color: $white;
  }
  &:focus {
    outline: none;
  }
  &.form__textarea {
    height: 180px;
    padding-top: 18px;
  }
}