@import "src/colors.scss";

.header {
  &__container {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 145px 0;
  }

  &__content {
    display: flex;
    gap: 25px;
  }

  .theme-block {
    border-radius: 20px;
    width: 260px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;

    &__text {
      font-weight: 500;
      width: 75%;
      text-align: center;
      margin: 0 auto;
    }

    &__line {
      border: 1px solid $yellow-light;
      opacity: 1;
    }
  }

  &__line {
    width: 100%;
    height: 10px;
    background-color: $primary_green;
  }
}

#light {
  .header {
    &__container {
      background-image: linear-gradient($black_light, $black_light),
        url("/img/header_background.png");
    }
  }

  .theme-block {
    background-color: $white;
    &__text {
      color: $black;
    }
  }
}

#dark {
  .header {
    &__container {
      background-image: linear-gradient($black_dark, $black_dark),
        url("/img/header_background.png");
    }
  }

  .theme-block {
    background-color: $background-dark;
    &__text {
      color: $white;
    }
  }
}
@media (max-width: 674px) {
  .header__content {
    flex-wrap: wrap;
    justify-content: center;
  }

  .header__container {
    padding: 50px 0;

    .theme-block {
      max-width: 400px;
      width: 100%;
      height: 300px;
    }
  }
}
