@import "src/colors.scss";

.main .navbar {
  position: sticky;
  top: 0;
}
.navbar {
  &__logo {
    width: 100px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 30px;
  }
  .menu {
    &__list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1.5vw;
    }
    &__link {
      font-size: 14px;
      font-weight: 300;
    }
    &__icon {
      display: none;
    }
  }
}

#light .navbar {
  background-color: $dark;
}

#dark .navbar {
  background-color: $background-dark;
}

@media (max-width: 674px) {
  .navbar {
    .menu {
      &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5vh;
      }
      &__link {
        font-size: 24px;
        font-weight: 500;
      }
      &__icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
        &::before,
        &::after,
        span {
          position: absolute;
          left: 0;
          height: 10%;
          width: 100%;
          transition: all 0.3s ease 0s;
          background-color: $white;
        }
        &::before,
        &::after {
          content: "";
        }
        &::before {
          top: 0;
        }
        &::after {
          bottom: 0;
        }
        span {
          top: 50%;
          transform: scale(1) translate(0, -50%);
        }
      }
      &__icon.active {
        position: fixed;
        top: 30px;
        right: 30px;
        span {
          transform: scale(0) translate(0, -50%);
        }
        &::before {
          top: 50%;
          transform: rotate(-45deg) translate(0, -50%);
        }
        &::after {
          bottom: 50%;
          transform: rotate(45deg) translate(0, 50%);
        }
      }
    }

    &__menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $background-dark;
      padding: 100px 30px 30px 30px;
      transform: translate(100%, 0);
    }
    &__menu.active {
      transform: translate(0, 0);
      transition: right 0.3s ease 0.5s, transform 0.5s ease;
      left: 0;
    }
  }
}
