$primary_green: #3d948e;
$additional_green: #29b4ad;
$dark: #343434;
$background-dark: #414141;
$yellow: #e7d08c;
$yellow-light: #ded098;
$white: #ffffff;
$white-light: rgba(255, 255, 255, 0.35);
$black: #000000;
$black_light: rgba(0, 0, 0, 0.2);
$black_dark: rgba(0, 0, 0, 0.45);
$gray: #B5B7B6;
$gray-light: #ebebeb;
