$primary_green: #3D948E;
$additional_green: #29B4AD;
$dark: #343434;
$background-dark: #414141;
$yellow: #E7D08C;
$yellow-light: #DED098;
$white: #ffffff;
$black: #000000;
$black_light: rgba(0, 0, 0, 0.2);
$black_dark: rgba(0, 0, 0, 0.45);
$gray-light: #EBEBEB;