$primary_green: #3d948e;
$additional_green: #29b4ad;
$green-light: #41a297;
$green-light-20: rgba(41, 180, 173, 0.2);
$dark: #343434;
$dark-light: rgba(52, 52, 52, 0.1);
$dark-light-20: rgba(52, 52, 52, 0.2);
$background-dark: #414141;
$yellow: #e7d08c;
$yellow-light: #ded098;
$white: #ffffff;
$white-light: rgba(255, 255, 255, 0.35);
$white-light-10: rgba(255, 255, 255, 0.1);
$white-light-20: rgba(255, 255, 255, 0.25);
$black: #000000;
$black_light: rgba(0, 0, 0, 0.2);
$black_dark: rgba(0, 0, 0, 0.45);
$gray: #b5b7b6;
$gray-light: #ebebeb;
$gray-title: #999b9a;
$gray-dark: #383838;
$gray-light-20: rgba(56, 56, 56, 0.25);
$footer-text: #929292;
$copyright-text: #595959;
