@import "src/colors.scss";

*,
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-weight: 300;
  font-size: 16px;
  box-sizing: border-box;
  transition: 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a,
a:visited {
  color: $white;
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

._container {
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
}
