.header__carousel {
  display: flex;
  flex-flow: row-reverse;
}
.carousel-indicators {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: static;
  margin: 0;
}
.carousel-indicators [data-bs-target] {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #ccc;
}
.carousel-indicators .active {
  background-color: #000;
}
.active.carousel-item-start, .carousel-item-prev:not(.carousel-item-end) {
  transform: translateY(-100%);
}
.carousel-item-prev:not(.carousel-item-end), .active.carousel-item-start {
  transform: translateY(-100%);
}
.active.carousel-item-end, .carousel-item-next:not(.carousel-item-start) {
  transform: translateY(100%);
}
.carousel-item-next:not(.carousel-item-start), .active.carousel-item-end {
  transform: translateY(100%);
}

